.body {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body .intro {
  position: relative;
  width: 100%;
  padding: 3.5rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .intro .big h1 {
  font-family: "Rubik-Light";
  font-size: 3.6rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  color: #303090;
}

.body .intro .small {
  width: 50%;
  padding: 2rem;
}

.body .intro .small h1 {
  text-align: center;
  font-family: "Rubik-Light";
  font-size: 1.6rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.body .inp {
  position: relative;
  width: 40%;
  -webkit-box-shadow: -0.2rem 1.8rem 3rem rgba(112, 112, 168, 0.6);
          box-shadow: -0.2rem 1.8rem 3rem rgba(112, 112, 168, 0.6);
  padding: 3rem 0rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5rem;
}

.body .inp form {
  position: relative;
  width: 100%;
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .inp form input {
  position: relative;
  width: 90%;
  height: 75%;
  border: none;
  -webkit-box-shadow: inset 0rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
          box-shadow: inset 0rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
  border-radius: 0.4rem;
  background-color: rgba(184, 176, 224, 0.3);
  outline: none;
  text-indent: 1rem;
  font-family: "Rubik-Light";
  font-size: 2rem;
  padding-right: 13rem;
}

.body .inp form button {
  width: 10rem;
  height: 55%;
  background: rgba(64, 56, 152, 0.6);
  border: none;
  -webkit-box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.4);
          box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.4);
  position: absolute;
  border-radius: 0.2rem;
  right: 7%;
  cursor: pointer;
  font-size: 1.9rem;
  text-transform: capitalize;
  color: #fff;
  font-family: "Poppins-Light";
}

.body .inp form button:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
  -webkit-box-shadow: 0rem 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
          box-shadow: 0rem 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
}

.body .inp .shortened {
  position: relative;
  margin-top: 2rem;
}

.body .inp .shortened h1 {
  font-size: 2rem;
  font-family: "Poppins-Light";
}

.body .inp .shortened h1 button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 2rem;
  font-family: "Poppins-Light";
  cursor: pointer;
  margin-left: 0.4rem;
}

.body .inp .shortened h1 button:hover {
  color: #7070a8;
}

.body .outro {
  position: relative;
  width: 100%;
  padding: 3.5rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .outro .large h1 {
  font-family: "Rubik-Light";
  font-size: 2.8rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  color: #303090;
}
/*# sourceMappingURL=body.css.map */