.overlay {
  position: fixed;
  width: 100%;
  z-index: 20;
  min-height: 100vh;
  background-color: rgba(#000, 0.4);
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .tab {
    position: relative;
    width: 40%;
    height: 35vh;
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.4rem 2rem rgba(#000, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & .end {
      position: absolute;
      top: 5%;
      right: 5%;
      display: flex;
      justify-content: center;
      align-items: center;

      & button {
        position: relative;
        width: 4rem;
        background-color: transparent;
        cursor: pointer;
        border: none;
        border-radius: 50%;
        &:hover {
          transform: scale(1.06);
        }
        &:active {
          transform: scale(0.94);
        }
        & img {
          position: relative;
          width: 100%;
        }
      }
    }
    & .txt {
      padding-right: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      & h1 {
        font-size: 1.9rem;
        text-transform: capitalize;
        font-family: "Poppins-Light";
      }
      & button {
        margin-left: 2rem;
        padding: 0.8rem 1.2rem;
        cursor: pointer;
        font-family: "Rubik-Light";
        font-size: 1.6rem;
        text-transform: capitalize;
        background: rgba(#403898, 0.6);
        border: none;
        color: #fff;
        border-radius: 0.2rem;
      }
    }
  }
}
