* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: novaslim;
}
body {
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
}

@font-face {
  font-family: novaslim;
  src: url("../public/novaslim.ttf");
}
@font-face {
  font-family: comforter;
  src: url("../public/comforter.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .comforter {
    font-family: comforter;
  }
  .back {
    background-color: #303090;
  }
  .back-opa {
    background-color: rgba(#303090, 0.2);
  }
  .body {
    height: calc(100vh - 65px);
    width: 100%;
  }
  .del-250 {
    animation-delay: 0.25s;
  }
  .del-450 {
    animation-delay: 0.5s;
  }
  .color {
    color: #303090;
  }
  .modal {
    background-color: rgba(#000, 0.2);
  }
}
